{% extends 'base.html' %}
{% block body %}
<section class="container2">
    <h2 class="skills">Mis Habilidades</h2>
    <div class="conte">
        <div class="C4">
            <h4>HTML</h4>
            <img src="/static/images/Logo html.png" width="300px" height="300px" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, animi fuga magnam magni nemo sint?</p>
        </div>
        <div class="C5">
            <h4>CSS</h4>
            <img src="/static/images/Logo css.png" width="300px" height="300px" alt="">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, culpa odio sequi necessitatibus quibusdam quia.</p>
        </div>
        <div class="C6">
            <h4>JAVA SCRIPT</h4>
            <img class="jav" src="/static/images/JavaScript-logo.png" width="300px" height="300px" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum accusantium temporibus necessitatibus sit assumenda inventore.</p>
        </div>
        <div class="C7">
            <h4>PYTHON</h4>
            <img src="/static/images/Logo.png" width="300px" height="300px" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolore corrupti saepe sint minus repellat!</p>
        </div>
    </div>
</section>
{% endblock %}