{% extends 'base.html' %}
{% block body %}
<section class="container1">
    <h2 class="n">Sobre Mi</h2>
    <div class="cont">
        <div>
            <h2>Quien Soy</h2>
            <p>Un desarrollador web ubicado en nuestra encantadora tierra.</p>
        </div>
        <div>
            <h2>Información Personal</h2>
            <p>Fecha de nacimiento: 01/01/01</p>
            <p>Email: Nombre@email.com</p>
            <p>Telefono: 0123456789</p>
            <p>Dirección: Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="experence">
            <h2>Mi Experiencia</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt minus nihil nulla excepturi reiciendis cum nemo fugiat, nostrum accusamus natus praesentium obcaecati similique. Inventore, impedit beatae exercitationem animi necessitatibus commodi.</p>
        </div>
    </div>
</section>
{% endblock %}